* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: #1d1d1d;
    margin: 2px;
    transition: 2s linear;
}

.square:hover {
    transition-duration: 0s;
}